<input type="text" class="form-control" id="search" placeholder="Search Licence plate" onkeyup="searchFun()" style="margin-left: 260px; width: 60%;"><br><br>

  <!-- table -->
  <table class="table table-dark table-hover" >
    <thead>
        <tr>
          <th scope="col">Owner</th>
          <th scope="col">Car</th>
          <th scope="col">License Plate Number</th>
          <th scope="col">Entry Date</th>
          <th scope="col">Exit Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
